body{
  background-color: #606b9e;
  height: 100vh;
}

.logo-big{
  width: 300px;
  margin-bottom: 20px;
}

.form-horizontal .form-group {
  margin-right: 0px;
  margin-left: 0px;
}

.input-data{
  padding: 4%;
  font-size: 1.5em;
}

.sing-in{
  width: 100%;
  border: white 3px solid;
  background: transparent;
  border-radius: 0;
  padding: 1%;
  font-size: 1.5em;
  color: white;
}

.sing-in:hover{
  background-color: white;
  color: #606b9e;
  border: white 3px solid;
}

.text-navlink{
  font-size: 1.8em;
  color: white;
}